  <div class="container">
    <div class="row px-lg-5">
      <div class="transaction-wrap my-lg-4 p-lg-5 bg-sec">
        <div class="transaction-list">
          <div class="transaction-item">
            <p class="m-0">05/04/2021</p>
            <div class="transaction-view text-center">
              <p class="mb-0">Case No# <b>ABC38275XME85 </b></p>
              <p class="mb-0">Claim No# <b>ABC746352274</b></p>
            </div>
            <div class="badge-pending">Pending</div>
          </div>
          <div class="transaction-item">
            <p class="m-0">03/02/2021</p>
            <div class="transaction-view text-center">
              <p class="mb-0">Case No# <b>ABC38275XME85 </b></p>
              <p class="mb-0">Claim No# <b>ABC746352274</b></p>
            </div>
            <div class="transaction-link">
              <div class="badge-complete">Completed</div>
            </div>
          </div>
          <div class="transaction-item">
            <p class="m-0">01/02/2021</p>
            <div class="transaction-view text-center">
              <p class="mb-0">Case No# <b>ABC38275XME85 </b></p>
              <p class="mb-0">Claim No# <b>ABC746352274</b></p>
            </div>
            <div class="badge-reject">Rejected</div>
          </div>
        </div>
      </div>
    </div>
  </div>
