<div class="row add-remove-review-confirm">
  <div class="col-lg-12 col-sm-12 mx-auto">
      <div class="card mb-5 p-lg-4">
          <div class="col-12">
              <h4 class="text-center my-4 fw-6 d-none d-lg-block">Review & Confirm</h4>
              <div class="row pt-lg-4 px-lg-4 br-5">
                  <div class="wrap-accordian confirm-policy-wrap">
                      <div class="wrap-panel">
                          <a href="#" class="wrap-toggle active">
                              <p class="wrap-question">Toyota Camry</p><i class="bx bx-minus"></i>
                          </a>
                          <div class="wrap-ans" style="display: block;">
                              <table class="table table-borderless mb-4">
                                  <tbody>
                                      <tr>
                                          <td>Policy Number</td>
                                          <td><b>123456xxx</b></td>
                                      </tr>
                                      <tr>
                                          <td>Insurance Company</td>
                                          <td><b>Tawinia</b></td>
                                      </tr>
                                      <tr>
                                          <td>Expires on</td>
                                          <td><b>12/10/2020</b></td>
                                      </tr>
                                      <tr>
                                          <td>Effective Date</td>
                                          <td><b>12/10/2021</b></td>
                                      </tr>
                                      <tr>
                                          <td>Policy type</td>
                                          <td><b>Comprehensive</b></td>
                                      </tr>
                                      <tr>
                                          <td>No. Of Vehicles</td>
                                          <td><b>4</b></td>
                                      </tr>
                                  </tbody>
                              </table>
                              <h6>Features added</h6>
                              <table class="table table-borderless mx-4">
                                  <tbody>
                                      <tr>
                                          <td>GCC cover</td>
                                          <td>SAR 400</td>
                                      </tr>
                                      <tr>
                                          <td>Feature 2</td>
                                          <td>SAR 100</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <h6>Features added</h6>
                              <table class="table table-borderless mx-4">
                                  <tbody>
                                      <tr>
                                          <td>Agency repair</td>
                                          <td>SAR 400</td>
                                      </tr>
                                      <tr>
                                          <td>Stolen</td>
                                          <td>SAR 100</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <h6>Features added</h6>
                              <table class="table table-borderless mx-4 mb-4">
                                  <tbody>
                                      <tr>
                                          <td>Wazen Service Charge </td>
                                          <td>SAR 400</td>
                                      </tr>
                                      <tr>
                                          <td>Tawniah Service Charge</td>
                                          <td>SAR 25</td>
                                      </tr>
                                      <tr>
                                          <td>VAT</td>
                                          <td>200</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>

                      </div>
                      <div class="wrap-panel">
                          <a href="#" class="wrap-toggle">
                              <p class="wrap-question">Nissan Altima</p><i class="bx bx-plus"></i>
                          </a>
                          <div class="wrap-ans" style="display: none;">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus porro
                                  exercitationem
                                  quasi
                                  minus debitis culpa, voluptates repellendus tempora veritatis dolorum?</p>
                          </div>

                      </div>
                      <div class="wrap-panel">
                          <a href="#" class="wrap-toggle">
                              <p class="wrap-question">Honda Accord</p><i class="bx bx-plus"></i>
                          </a>
                          <div class="wrap-ans" style="display: none;">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus porro
                                  exercitationem
                                  quasi
                                  minus debitis culpa, voluptates repellendus tempora veritatis dolorum?</p>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="row bg-sec mx-md-4 py-4 px-lg-5 br-5 total-summary-wrap">
                  <div class="d-flex justify-content-between align-items-center text-center total-summary">
                      <div class="total-summary_l">
                          <p class="mb-0">Grand Total:</p>
                          <div class="total-summary_l_total">
                              <span>SAR</span> -500
                          </div>
                      </div>
                      <div class="total-summary_r">
                          <button class="btn-main" (click)="getCheckout()">Checkout</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
