<div class="modal fade" id="forgot-password-popup" tabindex="" aria-labelledby="account-popup-Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="profile-container">
          <div class="card tab-content">
            <app-forgot-password></app-forgot-password>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
