<div class="container mt-8 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-12">
        <div class="notifiation">
          <div class="notifiation_blog-wrap">
            <p>Notifications</p>
          </div>
          <div class="duration">Recent</div>
          <div class="notifiation_blog-container">
            <div class="notifiation_img">
              <img src="assets/img/notify-blog.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="notifiation_text">
              <div class="title">Auto Insurance</div>
              <div class="description">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry’s standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled it to make a type specimen
                  book.
                </p>
                <p> It has survived not only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged. It was popularised in the 1960s
                  with the release of Letraset sheets containing Lorem Ipsum passages, and more
                  recently with desktop publishing software like Aldus PageMaker including
                  versions of Lorem Ipsum.</p>
              </div>
              <div class="notifiation_days">
                <i class='bx bx-time-five'></i><span>Valid till 20:45</span>
              </div>
            </div>
            <div class="notifiation_link text-center">
              <a href="" class="btn-sec">Get a Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
