<app-account-modal class="modal fade" id="account-popup" tabindex="-1" aria-labelledby="account-popup-Label"
  aria-hidden="true"></app-account-modal>
<app-forgot-password-modal class="tab-pane fade show active" id="login-contanier" role="tabpanel"
  aria-labelledby="login-tab"></app-forgot-password-modal>
<app-reset-password-modal class="modal fade" id="create-password-popup" tabindex="-1"
  aria-labelledby="account-popup-Label" aria-hidden="true"></app-reset-password-modal>
<app-verfiy-code-modal class="modal fade" id="verification-code-popup" tabindex="-1"
  aria-labelledby="account-popup-Label" aria-hidden="true"></app-verfiy-code-modal>
<app-verify-email class="modal" id="email-verification-popup" tabindex="-1" aria-labelledby="account-popup-Label"
  aria-hidden="true"></app-verify-email>
