  <div class="container my-auto py-3">
    <div class="row">
      <div class="col-11 col-lg-9 col-xl-7 mx-auto text-center">
        <p class="text-sec">
          {{ "auth.tabs.forgotPassword.title" | translate }}
        </p>
        <form class="pb-3" [formGroup]="forgotPasswordForm" (ngSubmit)="verfiyEmail()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Your Email" formControlName="email" id="email"
              setValidatorClass />


            <div class="errors" [class.mb-3]="forgotPasswordForm.controls.email.errors" *ngIf="
          forgotPasswordForm.controls.email.dirty &&
          forgotPasswordForm.controls.email.errors
        ">
              <div class="
            invalid-feedback
            animate__animated animate__slideInDown animate__faster"
                *ngIf="forgotPasswordForm.controls.email.errors.required">
                Email address is required.
              </div>
              <div class="
              invalid-feedback
              animate__animated animate__slideInDown animate__faster"
                *ngIf="forgotPasswordForm.controls.email.errors.pattern">
                Enter valid email address.
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn-main mt-3" [disabled]="isSubmitted" (click)="verfiyEmail()"
              class="btn-main mt-3">
              <span *ngIf="isSubmitted" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              {{
                isSubmitted
                  ? ("pleaseWait" | translate)
                  : ("auth.tabs.forgotPassword.input.sendbtn" | translate)
              }}
            </button>
            <button #forgotPasswordButton style="display: none" data-bs-dismiss="modal" data-bs-toggle="modal"
              data-bs-target="#verification-code-popup">
            </button>
          </div>
        </form>
        <p class="join-now-label text-2" data-bs-dismiss="modal" (click)="changeTabToSignup()" data-bs-toggle="modal"
        data-bs-target="#account-popup">
          {{ "auth.tabs.forgotPassword.input.newtoWazen" | translate
          }}<a href="#signup-contanier">
            {{ "auth.tabs.forgotPassword.input.signUp" | translate }}</a>
        </p>
      </div>
    </div>
  </div>
