<!-- Create New Password popup -->
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="profile-container">
        <div class="card tab-content">
          <app-reset-password class="tab-pane fade show active" id="login-contanier" role="tabpanel"
            aria-labelledby="login-tab"></app-reset-password>
        </div>
      </div>
    </div>
  </div>
</div>
