<div class="container">
  <div class="row justify-content-md-center account-wrap">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 position-relative mb-4">
      <p class="mb-0 py-4">{{ "profile.myAccountBlock.tabsnewsletter.title" | translate }}</p>
      <form action="" [formGroup]="newsSubcriptionForm">
        <div class="newsletter py-2">
          <div>
            <input id="radio-1" class="radio-custom" type="radio" formControlName="newsLetterSubscription" [value]=true>
            <label for="radio-1"
              class="radio-custom-label">{{ "profile.myAccountBlock.tabsnewsletter.input.yes" | translate }}</label>
          </div>
          <div>
            <input id="radio-2" class="radio-custom" type="radio" formControlName="newsLetterSubscription"
              [value]=false>
            <label for="radio-2"
              class="radio-custom-label">{{ "profile.myAccountBlock.tabsnewsletter.input.no" | translate }}</label>
          </div>

        </div>
        <div class="d-flex justify-content-center py-4">
          <button type="submit" class="btn-outline mx-2"
            [routerLink]="[ '/wazen/profile/my-account' ]">{{ "profile.myAccountBlock.tabsnewsletter.input.cancel" | translate }}</button>
          <button type="submit" class="btn-main" [disabled]="isSubmitted" (click)="onSubmit()">
            <span *ngIf="isSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{
              isSubmitted
                ? ("pleaseWait" | translate)
                : ("profile.myAccountBlock.tabsnewsletter.input.save" | translate)
            }}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
