<div class="container-fluid contact-us-wrap ">
  <div class="row ">
    <div class="col-lg-12 col-md-12 p-0">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d116024.15674506487!2d46.6942672!3d24.6665636!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f037c9ec00735%3A0xcfed6bf252259c68!2sSAPTCO-HQ%2C%20Al%20Ghil%2C%20As%20Sulimaniyah%2C%20Riyadh%2012621%2C%20Saudi%20Arabia!5e0!3m2!1sen!2sin!4v1632234357844!5m2!1sen!2sin"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
<div class="container contact-us-wrap">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-10 bg-sec contact-wrap">
      <p class="title">Contact Wazen</p>
      <div class="company-tabs">
        <ul class="nav nav-tabs mb-5" role="tablist">
          <li class="nav-item " role="presentation">
            <a class="nav-link disabled " id="comapany-tab" data-bs-toggle="tab" href="#comapany-info" role="tab"
              aria-controls="comapany-info" aria-selected="true">Company</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link disabled" id="partners-tab" data-bs-toggle="tab" href="#company-partners" role="tab"
              aria-controls="partners" aria-selected="false">Partners</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="company-tab" data-bs-toggle="tab" href="#company-contact" role="tab"
              aria-controls="account" aria-selected="false">Contact Us</a>
          </li>
        </ul>
        <div class="tab-content tab-container" id="myTabContent">
          <div class="tab-pane fade  " id="comapany-info" role="tabpanel" aria-labelledby="comapany-tab">
            <div class="container">
              <h3>Company</h3>
            </div>
          </div>
          <div class="tab-pane fade " id="company-partners" role="tabpanel" aria-labelledby="partners-tab">
            <div class="container">
              <h3>Partners</h3>
            </div>
          </div>
          <div class="tab-pane fade show active " id="company-contact" role="tabpanel" aria-labelledby="company-tab">
            <div class="container-fluid p-0">
              <p class="fs-b fs-s">Feedback & Complaints</p>
              <p class="description fs-l mb-4">We are dedicated to ensure that you have a great experience
                at
                Wazen. If you are not
                satisfied with anything, please reach
                out to us directly at <a href="mailto:communication@wazen.sa" class="fw-6 ">communication@wazen.sa</a>
              </p>
              <div class="card py-lg-5 py-4 px-lg-4 px-3">
                <p class="mb-0 fs-l fs-s">Select your reason for contacting us, complete the form and we
                  will be in
                  touch within 48 hours.</p>
                <form class="py-3">
                  <div class="form-row d-lg-flex ">
                    <div class="form-group col-12 col-lg-6 col-md-12 col-sm-12 ">
                      <select class="form-control">
                        <option selected="">Complaint Type</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                      </select>
                    </div>
                    <div class="form-group col-12 col-lg-6 col-md-12 col-sm-12 ">
                      <select class="form-control">
                        <option selected="">Complaint Priority</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                        <option value="lreom">lreom</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-6 col-md-12">
                      <input type="text" class="form-control" placeholder="Subject">
                    </div>
                  </div>
                  <div class="form-group ">
                    <textarea class="form-control" style="resize:none" rows="6"
                      placeholder="Complaint Message "></textarea>
                  </div>
                  <div class="d-flex justify-content-center pt-4">
                    <button type="submit" class="btn-outline  mx-2">Cancel</button>
                    <button type="submit" class="btn-main ">Submit</button>

                  </div>
                </form>
              </div>
              <div class="row mt-5 mb-4">
                <p class="fs-b fs-s mb-4">Our Registered office in Saudi Arabia</p>
                <div class="col-xl-4 col-lg-6 col-md-6  col-sm-12 ">
                  <div class="contact-details-wrap mb-md-3">
                    <div class="contact-details-wrap_title">
                      <svg id="Group_854" data-name="Group 854" xmlns="http://www.w3.org/2000/svg" width="19.171"
                        height="19.872" viewBox="0 0 19.171 19.872">
                        <path id="Path_718" data-name="Path 718"
                          d="M23.287,18.679a4.468,4.468,0,0,1,.727.062V8.712A2.257,2.257,0,0,0,21.762,6.46H9.612A2.257,2.257,0,0,0,7.36,8.712V21.827a2.257,2.257,0,0,0,2.252,2.252H19a4.394,4.394,0,0,1,4.291-5.4ZM10.636,9.343h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167Zm0,3.563h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167Zm0,3.56h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167ZM17.907,21.2H10.636a.584.584,0,1,1,0-1.167h7.271a.584.584,0,1,1,0,1.167Zm5.38-1.35a3.243,3.243,0,1,0,3.244,3.241A3.243,3.243,0,0,0,23.287,19.846Zm1.548,3.824H23.287a.584.584,0,0,1-.584-.584V21.309a.584.584,0,0,1,1.167,0V22.5h.965a.584.584,0,1,1,0,1.167Z"
                          transform="translate(-7.36 -6.46)" fill="#06aecc" />
                      </svg>
                      <p class="mb-0 fs-b"> New Quote</p>
                    </div>
                    <hr>
                    <div class="contact-details-wrap_info">
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.108" height="12.105"
                          viewBox="0 0 13.108 12.105">
                          <path id="Path_762" data-name="Path 762"
                            d="M13.076,13.671a.918.918,0,0,1-.1.262,7.714,7.714,0,0,1-1.347,1.642,4.551,4.551,0,0,1-.492.343l-.393.025c-.19-.025-.384-.047-.57-.081a7.81,7.81,0,0,1-2.388-.918,20.291,20.291,0,0,1-3.5-2.555A20.412,20.412,0,0,1,1.56,9.549,8.323,8.323,0,0,1,.208,7.177C.135,6.96.085,6.736.025,6.521L0,6.121A3.414,3.414,0,0,1,.855,4.874c.262-.27.532-.524.807-.777a.967.967,0,0,1,.857-.236.676.676,0,0,1,.44.262c.564.747,1.121,1.5,1.7,2.228A1,1,0,0,1,4.808,7.4c-.071.187-.164.367-.249.549-.1.211-.2.423-.308.63a.149.149,0,0,0,.024.2c.393.4.768.823,1.18,1.21A18.466,18.466,0,0,0,7.9,12a.2.2,0,0,0,.27,0q.478-.324.97-.63a1.112,1.112,0,0,1,.786-.194.737.737,0,0,1,.241.084q1.3.741,2.6,1.489A.824.824,0,0,1,13.076,13.671Z"
                            transform="translate(0 -3.839)" fill="#a7a7a7" />
                        </svg>
                        <span>800WAZEN</span>
                      </div>
                      <div>
                        <svg id="Group_878" data-name="Group 878" xmlns="http://www.w3.org/2000/svg" width="13.683"
                          height="8.677" viewBox="0 0 13.683 8.677">
                          <path id="Path_763" data-name="Path 763"
                            d="M10,24a1,1,0,0,0-.37.073l5.809,4.943a.565.565,0,0,0,.793,0l5.814-4.949A1.007,1.007,0,0,0,21.682,24Zm-.991.855A1.026,1.026,0,0,0,9,25v6.675a1,1,0,0,0,1,1H21.682a1,1,0,0,0,1-1V25a1.052,1.052,0,0,0-.01-.146l-5.788,4.923a1.626,1.626,0,0,1-2.1,0Z"
                            transform="translate(-9 -24)" fill="#a7a7a7" />
                        </svg>
                        <span>newquote@wazen.sa</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6  col-sm-12 ">
                  <div class="contact-details-wrap mb-md-3">
                    <div class="contact-details-wrap_title">
                      <svg id="Group_854" data-name="Group 854" xmlns="http://www.w3.org/2000/svg" width="19.171"
                        height="19.872" viewBox="0 0 19.171 19.872">
                        <path id="Path_718" data-name="Path 718"
                          d="M23.287,18.679a4.468,4.468,0,0,1,.727.062V8.712A2.257,2.257,0,0,0,21.762,6.46H9.612A2.257,2.257,0,0,0,7.36,8.712V21.827a2.257,2.257,0,0,0,2.252,2.252H19a4.394,4.394,0,0,1,4.291-5.4ZM10.636,9.343h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167Zm0,3.563h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167Zm0,3.56h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167ZM17.907,21.2H10.636a.584.584,0,1,1,0-1.167h7.271a.584.584,0,1,1,0,1.167Zm5.38-1.35a3.243,3.243,0,1,0,3.244,3.241A3.243,3.243,0,0,0,23.287,19.846Zm1.548,3.824H23.287a.584.584,0,0,1-.584-.584V21.309a.584.584,0,0,1,1.167,0V22.5h.965a.584.584,0,1,1,0,1.167Z"
                          transform="translate(-7.36 -6.46)" fill="#06aecc" />
                      </svg>
                      <p class="mb-0 fs-b"> New Quote</p>
                    </div>
                    <hr>
                    <div class="contact-details-wrap_info">
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.108" height="12.105"
                          viewBox="0 0 13.108 12.105">
                          <path id="Path_762" data-name="Path 762"
                            d="M13.076,13.671a.918.918,0,0,1-.1.262,7.714,7.714,0,0,1-1.347,1.642,4.551,4.551,0,0,1-.492.343l-.393.025c-.19-.025-.384-.047-.57-.081a7.81,7.81,0,0,1-2.388-.918,20.291,20.291,0,0,1-3.5-2.555A20.412,20.412,0,0,1,1.56,9.549,8.323,8.323,0,0,1,.208,7.177C.135,6.96.085,6.736.025,6.521L0,6.121A3.414,3.414,0,0,1,.855,4.874c.262-.27.532-.524.807-.777a.967.967,0,0,1,.857-.236.676.676,0,0,1,.44.262c.564.747,1.121,1.5,1.7,2.228A1,1,0,0,1,4.808,7.4c-.071.187-.164.367-.249.549-.1.211-.2.423-.308.63a.149.149,0,0,0,.024.2c.393.4.768.823,1.18,1.21A18.466,18.466,0,0,0,7.9,12a.2.2,0,0,0,.27,0q.478-.324.97-.63a1.112,1.112,0,0,1,.786-.194.737.737,0,0,1,.241.084q1.3.741,2.6,1.489A.824.824,0,0,1,13.076,13.671Z"
                            transform="translate(0 -3.839)" fill="#a7a7a7" />
                        </svg>
                        <span>800WAZEN</span>
                      </div>
                      <div>
                        <svg id="Group_878" data-name="Group 878" xmlns="http://www.w3.org/2000/svg" width="13.683"
                          height="8.677" viewBox="0 0 13.683 8.677">
                          <path id="Path_763" data-name="Path 763"
                            d="M10,24a1,1,0,0,0-.37.073l5.809,4.943a.565.565,0,0,0,.793,0l5.814-4.949A1.007,1.007,0,0,0,21.682,24Zm-.991.855A1.026,1.026,0,0,0,9,25v6.675a1,1,0,0,0,1,1H21.682a1,1,0,0,0,1-1V25a1.052,1.052,0,0,0-.01-.146l-5.788,4.923a1.626,1.626,0,0,1-2.1,0Z"
                            transform="translate(-9 -24)" fill="#a7a7a7" />
                        </svg>
                        <span>newquote@wazen.sa</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6  col-sm-12 ">
                  <div class="contact-details-wrap mb-md-3">
                    <div class="contact-details-wrap_title">
                      <svg id="Group_854" data-name="Group 854" xmlns="http://www.w3.org/2000/svg" width="19.171"
                        height="19.872" viewBox="0 0 19.171 19.872">
                        <path id="Path_718" data-name="Path 718"
                          d="M23.287,18.679a4.468,4.468,0,0,1,.727.062V8.712A2.257,2.257,0,0,0,21.762,6.46H9.612A2.257,2.257,0,0,0,7.36,8.712V21.827a2.257,2.257,0,0,0,2.252,2.252H19a4.394,4.394,0,0,1,4.291-5.4ZM10.636,9.343h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167Zm0,3.563h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167Zm0,3.56h10.1a.584.584,0,1,1,0,1.167h-10.1a.584.584,0,1,1,0-1.167ZM17.907,21.2H10.636a.584.584,0,1,1,0-1.167h7.271a.584.584,0,1,1,0,1.167Zm5.38-1.35a3.243,3.243,0,1,0,3.244,3.241A3.243,3.243,0,0,0,23.287,19.846Zm1.548,3.824H23.287a.584.584,0,0,1-.584-.584V21.309a.584.584,0,0,1,1.167,0V22.5h.965a.584.584,0,1,1,0,1.167Z"
                          transform="translate(-7.36 -6.46)" fill="#06aecc" />
                      </svg>
                      <p class="mb-0 fs-b"> New Quote</p>
                    </div>
                    <hr>
                    <div class="contact-details-wrap_info">
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.108" height="12.105"
                          viewBox="0 0 13.108 12.105">
                          <path id="Path_762" data-name="Path 762"
                            d="M13.076,13.671a.918.918,0,0,1-.1.262,7.714,7.714,0,0,1-1.347,1.642,4.551,4.551,0,0,1-.492.343l-.393.025c-.19-.025-.384-.047-.57-.081a7.81,7.81,0,0,1-2.388-.918,20.291,20.291,0,0,1-3.5-2.555A20.412,20.412,0,0,1,1.56,9.549,8.323,8.323,0,0,1,.208,7.177C.135,6.96.085,6.736.025,6.521L0,6.121A3.414,3.414,0,0,1,.855,4.874c.262-.27.532-.524.807-.777a.967.967,0,0,1,.857-.236.676.676,0,0,1,.44.262c.564.747,1.121,1.5,1.7,2.228A1,1,0,0,1,4.808,7.4c-.071.187-.164.367-.249.549-.1.211-.2.423-.308.63a.149.149,0,0,0,.024.2c.393.4.768.823,1.18,1.21A18.466,18.466,0,0,0,7.9,12a.2.2,0,0,0,.27,0q.478-.324.97-.63a1.112,1.112,0,0,1,.786-.194.737.737,0,0,1,.241.084q1.3.741,2.6,1.489A.824.824,0,0,1,13.076,13.671Z"
                            transform="translate(0 -3.839)" fill="#a7a7a7" />
                        </svg>
                        <span>800WAZEN</span>
                      </div>
                      <div>
                        <svg id="Group_878" data-name="Group 878" xmlns="http://www.w3.org/2000/svg" width="13.683"
                          height="8.677" viewBox="0 0 13.683 8.677">
                          <path id="Path_763" data-name="Path 763"
                            d="M10,24a1,1,0,0,0-.37.073l5.809,4.943a.565.565,0,0,0,.793,0l5.814-4.949A1.007,1.007,0,0,0,21.682,24Zm-.991.855A1.026,1.026,0,0,0,9,25v6.675a1,1,0,0,0,1,1H21.682a1,1,0,0,0,1-1V25a1.052,1.052,0,0,0-.01-.146l-5.788,4.923a1.626,1.626,0,0,1-2.1,0Z"
                            transform="translate(-9 -24)" fill="#a7a7a7" />
                        </svg>
                        <span>newquote@wazen.sa</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
