// wazen color
$primary: #06aecc;
$secondary: #313c48;
$links: #fbfbfb;
$card: #f4f8fb;

// background
$primary-bg:#EDF3F8;
$white:#ffffff;
$t-white:#ffffffdb;
$dark-bg:#b5b5b5;
// text
$black:#000000;
$textgrey:#919191;
$textwhite:#fff;
$textlight:#7B7B7B;
$textligh-1:#A0A0A0;
$button: transparent linear-gradient(130deg, #06aecc 0%, #3269c4 100%) 0% 0%;
    