<div class="row renew-policy-payment">
  <div class="col-lg-10 col-sm-12 mx-auto">
      <div class="card pay-wrap text-center mb-5">
          <div class="bg-sec my-lg-2 mx-xl-4 br-5 m-xl-2 p-xl-4 py-4">
              <h6 class="d-none d-lg-block">Accepted Cards</h6>
              <div class="row mx-xl-5 my-xl-4 ">
                  <div class="wazen-payment-list-wrap ">
                      <p class="wazen-payment-list-wrap_flex mb-0 justify-content-center">
                          <a href="#" class="btn apple-btn">
                              <i class="btn-icon-apple"></i>
                              <span> Pay with Apple</span>
                          </a>
                          <a href="#" class="btn stc-btn">
                              <i class="btn-icon-stc"></i>
                              <span>Pay with STC</span>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="bg-sec my-lg-2 mx-xl-4 br-5 px-4  p-lg-4">
              <h6>Select your card</h6>
              <div class="row justify-content-center my-lg-4">
                  <!-- <div class="col-lg-5 col-sm-12 p-0 my-4"> -->
                  <div class="pay-wrap-container">
                      <input type="radio" name="radio" id="option1" checked="checked">
                      <label for="option1" class="pay-wrap-container__button">
                          <p class="mb-0 pay-wrap-container__title">Credit card </p>
                      </label>

                      <input type="radio" name="radio" id="option2">
                      <label for="option2" class="pay-wrap-container__button"
                          style="border-radius: 0 13px 13px 0;">
                          <p class="mb-0 pay-wrap-container__title">Debit card</p>
                      </label>
                  </div>
                  <!-- </div> -->
              </div>
              <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-7 col-md-7 col-sm-12 p-0 my-4">
                      <div id="paypage">
                          <div class="form-card">
                              <div class="col-md-12">
                                  <div class="input-container">
                                      <input type="text" name="cardno" id="cr_no" placeholder="Card number" minlength="19" maxlength="19">
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="input-container">
                                      <input type="text" name="cardname" placeholder="Name" minlength="19" maxlength="19">
                                  </div>
                              </div>
                              <div class="row justify-content-between">
                                  <div class="col-md-3 col-4">
                                      <div class="input-container">
                                          <input type="text" name="exp" id="exp" placeholder="MM/YY" minlength="5" maxlength="5">
                                      </div>
                                  </div>
                                  <div class=" col-md-3 col-4">
                                      <div class="input-container">
                                          <input type="password" name="cvcpwd" placeholder="CVV" class="placeicon" minlength="3" maxlength="3">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="conformation-checkbox justify-content-start my-2">
                                      <label class="customcheck">

                                          <input type="checkbox" c="">
                                          <span class="checkmark"></span>
                                      </label>
                                      <div class="conformation-checkbox-text ">
                                          <span>Save card details</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="conformation-checkbox my-4">
                          <label class="customcheck">
                              <input type="checkbox" c="">
                              <span class="checkmark"></span>
                          </label>
                          <div class="conformation-checkbox-text td-u">
                              <span>Legal agreement</span>
                          </div>
                      </div>
                      <button type="submit" class="btn-main m-w-100" (click)="getThankYou()">Continue</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
