<!-- main -->
<div class="container mt-8">
  <div class="cancel-policy-stepwizard">
      <ul id="progressbar">
          <li class="open checked">Vehicle Details</li>
          <li class="open checked">Review & Confirm</li>
          <li>Bank Details</li>
      </ul>
  </div>
  <div class="row cancel-policy-vehicle-information-wrap">
      <div class="col-lg-12 col-sm-12 mx-auto">
          <div class="card cancel-policy-tabel-list p-lg-5 mb-4">
              <div class="row bg-sec m-lg-2 mb-4 m-1 p-lg-5 br-5">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                          <div class="policies-list">
                              <div class="d-flex align-items-center policies-car">
                                  <div class="policies-carname">
                                      <span>Toyota </span>
                                      <p class="mb-0">Camry</p>
                                  </div>
                                  <div class="policies-carnum">
                                      <span>4321</span>
                                      <img src="../assets/img/ksa.svg" alt="">
                                      <span>HXB</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div
                          class="col-xs-12 col-sm-12 col-md-12 col-lg-6 cancel-policy-vehicle-information-wrap_list">
                          <table class="table table-borderless mt-3 border-right">
                              <tbody>
                                  <tr>
                                      <td>Policy Number</td>
                                      <td><b>123456xxxx</b></td>
                                  </tr>
                                  <tr>
                                      <td>Insurance Company</td>
                                      <td><b>Tawinia</b></td>

                                  </tr>
                                  <tr>
                                      <td>Policy Type</td>
                                      <td><b>Comprehensive</b></td>
                                  </tr>
                                  <tr>
                                      <td>Effective date</td>
                                      <td><b>23/01/2021</b></td>
                                  </tr>
                                  <tr>
                                      <td>Expiry date</td>
                                      <td><b>23/01/2021</b></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div
                          class="col-xs-12 col-sm-12 col-md-12 col-lg-6 cancel-policy-vehicle-information-wrap_list">
                          <table class="table table-borderless mt-3">
                              <tbody>
                                  <tr>
                                      <td>Reason For Cancellation</td>
                                      <td><b>Vehicle Sold</b></td>
                                  </tr>
                                  <tr>
                                      <td>Cancellation Date</td>
                                      <td><b>01/06/2021</b></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="row bg-sec m-lg-2 mb-4 m-1 p-lg-5 br-5">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                          <div class="policies-list">
                              <div class="d-flex align-items-center policies-car">
                                  <div class="policies-carname">
                                      <span>Toyota </span>
                                      <p class="mb-0">Camry</p>
                                  </div>
                                  <div class="policies-carnum">
                                      <span>4321</span>
                                      <img src="../assets/img/ksa.svg" alt="">
                                      <span>HXB</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div
                          class="col-xs-12 col-sm-12 col-md-12 col-lg-6 cancel-policy-vehicle-information-wrap_list">
                          <table class="table table-borderless mt-3 border-right">
                              <tbody>
                                  <tr>
                                      <td>Policy Number</td>
                                      <td><b>123456xxxx</b></td>
                                  </tr>
                                  <tr>
                                      <td>Insurance Company</td>
                                      <td><b>Tawinia</b></td>

                                  </tr>
                                  <tr>
                                      <td>Policy Type</td>
                                      <td><b>Comprehensive</b></td>
                                  </tr>
                                  <tr>
                                      <td>Effective date</td>
                                      <td><b>23/01/2021</b></td>
                                  </tr>
                                  <tr>
                                      <td>Expiry date</td>
                                      <td><b>23/01/2021</b></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div
                          class="col-xs-12 col-sm-12 col-md-12 col-lg-6 cancel-policy-vehicle-information-wrap_list">
                          <table class="table table-borderless mt-3">
                              <tbody>
                                  <tr>
                                      <td>Reason For Cancellation</td>
                                      <td><b>Vehicle Sold</b></td>
                                  </tr>
                                  <tr>
                                      <td>Cancellation Date</td>
                                      <td><b>01/06/2021</b></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="row bg-sec m-lg-2 m-1 py-lg-4 px-lg-5 br-5">
                  <div class="d-lg-flex d-md-flex justify-content-between align-items-center text-center total-summary">
                      <div class="total-summary_l">
                          <div class="">

                              <p class="mb-0">Grand Total:</p>
                          </div>
                          <div class="total-summary_l_total">
                              <span>SAR</span> 1733
                          </div>
                      </div>
                      <div class="total-summary_r">
                          <button class="btn-main m-w-100" (click)="confirm()">Confirm</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
